body{
background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ2dbIXpDVxYr46gMeiHEIz1Ajqe5PggVfoMBQNyBQUZwMaz82B8DLZ-NGhjr39uLWuFcU&usqp=CAU); width: 200
}
p{
color: white
}

ul{
color: white
}